@page "/ingredients"
@namespace CookBook.Web.Pages
@inherits PageBase
@layout ListLayout

<div class="row">
    <div class="col-md">
        <IngredientEditForm OnModification="@LoadData" />
    </div>
    <div class="col-md">
        
        @if (Ingredients.Count != 0)
        {
            <table class="table border table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="row" width="100px">Photo</th>
                    <th scope="row">Name</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var ingredient in Ingredients)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="@ingredient.ImageUrl" style="width: auto; height: 40px"/>
                        </td>
                        <td class="align-middle">
                            <NavLink href="@($"/ingredients/{ingredient.Id}")">@ingredient.Name</NavLink>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>