@page "/ingredients"

<h3>Ingredients</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Ingredients)
        {
            <tr>
                <td>@ingredient.Name</td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Inject]
    private IIngredientsFacade ingredientsFacade { get; set; }

    private IList<IngredientListModel> Ingredients { get; set; } = new List<IngredientListModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Ingredients = await ingredientsFacade.IngredientsGetAsync();
    }
}
