@page "/{Culture}/ingredients/create"
@page "/{Culture}/ingredients/{Id:guid}"
@inherits CookBook.Web.Blazor.Pages.PageBase

<h3>IngredientInsert</h3>

<IngredientForm Id="@Id" OnModification="GoToList" />
@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    public void GoToList()
    {
        NavigationManager.NavigateTo($"/{Culture}/ingredients");
    }
}
