@page "/ingredients"

<h3>Ingredients</h3>
<IngredientForm OnModification="@LoadData" />
<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Ingredients)
        {
            <tr>
                <td><NavLink href="@($"/ingredients/{ingredient.Id}")">@ingredient.Name</NavLink></td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Inject]
    private IIngredientsFacade ingredientsFacade { get; set; }

    private IList<IngredientListModel> Ingredients { get; set; } = new List<IngredientListModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadData();
    }

    public async Task LoadData()
    {
        Ingredients = await ingredientsFacade.IngredientsGetAsync();
    }

}
