@page "/ingredients"
@namespace CookBook.Web.App.Pages
@inherits PageBase
@layout ListLayout

<div class="row">
    <div class="col-md">
        <IngredientEditForm OnModification="@LoadData" />
    </div>
    <div class="col-md">
        @if (Ingredients.Count != 0)
        {
            <table class="table border table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="row">Image</th>
                        <th scope="row">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ingredient in Ingredients)
                    {
                        <tr>
                            <td style="vertical-align: central">
                                <img src="@ingredient.ImageUrl" height="50"/>
                            </td>
                            <td>
                                <NavLink href="@($"/ingredients/{ingredient.Id}")">@ingredient.Name</NavLink>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>