@page "/"


<div class="jumbotron">
    <h1>Hello, world!</h1>
    <hr class="my-4" />
    <p class="lead">
        At this project you can make your own recipes, so don't hesitate and show the world, what you can cook!
    </p>
    <NavLink href="/cs/recipes" Match="NavLinkMatch.All" class="btn btn-primary btn-lg">
        Go to Recipes list
    </NavLink>

</div>