@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="nav-link font-weight-bold">
            Hello @context.User.FindFirst("sub")?.Value!

			<button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
        </div>
    </Authorized>

    <NotAuthorized>
        <a href="authentication/login" class="nav-link font-weight-bold">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout?logoutUrl=");
    }
}   