<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/images/cook-book.svg" width="30" height="30" class="d-inline mr-2" />
        CookBook
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink href="" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/recipes" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">
                    Recipes
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/ingredients" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">
                    Ingredients
                </NavLink>
            </li>
        </ul>
    </div>
</nav>