

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mr-xl-5" href="#" >
            <img src="/images/cook-book.svg" class="d-inline mr-2" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink href="" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                        Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/recipes" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                        Recipes
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/ingredients" Match="NavLinkMatch.All" ActiveClass="active border-bottom border-success" class="nav-link font-weight-bold">
                        Ingredients
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>