/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

h1 {
    margin-left  : 20px;
    font-size    : 2.5rem;
    margin-bottom: .5rem;
    line-height  : 1.2;
    font-weight  : bold;
}

p {
    margin-left: 10px;

}