/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

h1 {
    margin-left  : 20px;
    font-size    : 2.5rem;
    margin-bottom: .5rem;
    line-height  : 1.2;
    font-weight  : bold;
}

p {
    margin-left: 10px;

}

button {
    font-weight    : bold;
    text-align     : center;
    vertical-align : middle;
    text-decoration: none;
    border         : 1px solid black;
    padding        : 10px 18px;
}

td,
th {
    border : 1px solid #ddd;
    padding: 8px;
}

td {
    border-collapse: collapse;
    width          : 100%;
}

th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: gray;
    color           : black;
}

tr {
    a {
        text-decoration: none;
    }
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.alert {
    padding-left: 8px;
}

.alert-danger {
    color: red;
}