@page "/"
@using CookBook.Web.App.Resources.Texts
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexResources> IndexLocalizer


<div class="jumbotron">
    <h1>@IndexLocalizer["Page_Title"]</h1>
    <hr class="my-4" />
    <p class="lead">
        @IndexLocalizer["Page_Description"]
    </p>
    <NavLink href="/recipes" Match="NavLinkMatch.All" class="btn btn-primary btn-lg">
        @IndexLocalizer["GoToRecipesList_Button"]
    </NavLink>

</div>