@page "/"


<div class="jumbotron">
    <h1>Hello, CookBook!</h1>
    <hr class="my-4" />
    <p class="lead">
        This project lets you make your own recipes, so don't hesitate to show the world, what you can cook!
    </p>
    <NavLink href="/recipes" Match="NavLinkMatch.All" class="btn btn-primary btn-lg">
        Go to Recipes list
    </NavLink>

</div>