@namespace CookBook.Web.App

<label class="ml-auto">
    <select @bind="SelectedLanguageName" class="form-control bg-dark text-light border-0">
        @foreach (var culture in supportedCultures)
        {
            <option value="@culture.TwoLetterISOLanguageName">@culture.DisplayName</option>
        }
    </select>
</label>
