@model IngredientDetailViewModel

<div>
    <h1>@Model.IngredientDetail.Name</h1>
    <div>Popis: @Model.IngredientDetail.Description</div>

    <form asp-action="Delete" method="post" role="form">
        <input type="hidden" name="ingredientId" value="@Model.IngredientDetail.Id" />
        <input type="submit" class="btn btn-primary" value="Smazat" />
    </form>
</div>